body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  background-color: #42EEEC;
}


h1 {
  color: green;
  background-color: transparent;
  text-decoration: none;
}


h2 {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


h3 {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


h4 {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


h5 {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


h6 {
  color: red;
  background-color: transparent;
  text-decoration:  none;
}


p {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


a:link{
  color: #75EE1E;
  background-color: blue;
  text-decoration: underline;
}


a:visited {
  color: #75EE1E;
  background-color: blue;
  text-decoration: underline;
}


a:hover {
  color: #75EE1E;
  background-color: blue;
  text-decoration: none;
}


a:active {
  color: #75EE1E;
  background-color: blue;
  text-decoration: none;
}


.topnav {
  background-color: black;
  overflow: hidden;
  font-family: 'arial', sans-serif;
}


.topnav a:link {
  float: right;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:visited {
  background-color: black;
  color: red;
  text-decoration: none;
}


.topnav a:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}


.topnav a:active {
  background-color: black;
  color: white;
  text-decoration: underline;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


.main {
  max-width: 960px;
  margin: auto;
  background-color: #64AAA9;
}


.main2 {
  max-width: 500px;
  margin: auto;
  background-color: yellow
}


.main2 a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}


.main2 a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}


.main2 a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}


.main2 a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}


.main3 {
  max-width: 360px;
  margin: auto;
  background-color: blue
}


.main3 p {
  color: white;
}


.main4 {
  max-width: 290px;
  margin: auto;
  background-color: lightgreen;
}